
*.jpg
*model/model.ckpt.data-00000-of-00001
model/model.ckpt.index
model/model.ckpt.meta
model/train/checkpoint
model/train/events.out.tfevents.1522333632.DESKTOP-HBRT0G8
model/train/graph.pbtxt
model/train/model.ckpt-0.data-00000-of-00001
model/train/model.ckpt-0.index
model/train/model.ckpt-0.meta
model/train/pipeline.config
model/fine_tuned_model/checkpoint
model/fine_tuned_model/frozen_inference_graph.pb
model/fine_tuned_model/model.ckpt.data-00000-of-00001
model/fine_tuned_model/model.ckpt.index
model/fine_tuned_model/model.ckpt.meta
model/fine_tuned_model/pipeline.config
model/fine_tuned_model/saved_model/saved_model.pb
*.DESKTOP-HBRT0G8
*.pyc
*.meta
*.index
*.data-00000-of-00001
